@model RegisterViewModel

@{
    ViewBag.Title = "Chat App Client";
    Layout = "_Layout";
}

<h1>Register</h1>

<form asp-controller = "Account" asp-action = "Register" method = "post" class = "form-horizontal">
    @* Create dynamic name for current client when possible*@
    <h4>Create a new account</h4>
    <hr/>
    <div asp-validation-summary="All" class="text-info"></div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <div>
            <input type="text" asp-for="UserName" class="form-control">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    
    <br/>
    
    <div class="form-group">
        <label asp-for="Password"></label>
        <div >
            <input type="password" asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    
    <br/>
    
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <div>
            <input type="password" asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
</form>